.widget4 {
  display: block;
}

.widget4-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $widget4-group-spacer 0;
}

.widget4-display {
  flex: 1;
}

.widget4-hightlight,
.widget4-subtitle,
.widget4-title {
  margin: 0;
  padding: $widget4-content-spacer 0;
}

.widget4-title {
  font-size: $widget4-title-font-size;
  font-weight: $widget4-title-font-weight;
  @include theme-variant("light") {
    color: $widget4-title-color-light;
  }
  @include theme-variant("dark") {
    color: $widget4-title-color-dark;
  }
}

.widget4-subtitle {
  font-size: $widget4-subtitle-font-size;
  font-weight: $widget4-subtitle-font-weight;
  @include theme-variant("light") {
    color: $widget4-subtitle-color-light;
  }
  @include theme-variant("dark") {
    color: $widget4-subtitle-color-dark;
  }
}

.widget4-hightlight {
  font-size: $widget4-highlight-font-size;
  font-weight: $widget4-highlight-font-weight;
  @include theme-variant("light") {
    color: $widget4-highlight-color-light;
  }
  @include theme-variant("dark") {
    color: $widget4-highlight-color-dark;
  }
}
